<div class="stage">
  <div class="locations">
    <span class="location-label">
      From:
    </span> <br />
    <%= @pickup_formatted_location %> <br /><br />
    <span class="location-label">
      To:
    </span> <br />
    <%= @dropoff_formatted_location %> <br /><br />
  </div>

  <br />
  <div class="status">
    Status:
    <span id="status"></span>
    <br />
    ETA:
    <span id="eta"></span><br />
    Driver: <br />
    <div id="driver_photo" class="driver-image"></div>
    <p id="driver_name"></p>
    <p id="driver_phone"></p>
    <p id="driver_rating"></p>
  </div>
</div>

<script>
  (function poll(){
    var token = "<%= @token %>";
    var request_id = "<%= @request_id %>";
    var base_url = "<%= @base_url %>";
    var request_status_url = base_url + "/requests/" + request_id;

    $.ajax({
      url: request_status_url,
      headers: {
        "Authorization" : "Bearer " + token
      },
      success: function(data){
        $('#status').text(data['status']);
        if (data['status'] != "processing") {
          if(data['eta']){
            $('#eta').text(data['eta'] + " minutes");
          } else {
            $('#eta').text("0 minutes");
          }
          $('#driver_name').text(data['driver']['name']);
          $('#driver_phone').text(data['driver']['phone_number']);
          $('#driver_rating').text("Rating: " + data['driver']['rating']);
          $('#driver_photo').css('background-image', 'url(' + data['driver']['picture_url'] + ')');
        } else {

        }
      },
      dataType: "json",
      complete: function(){
        setTimeout(poll,3000)
      },
      timeout: 30000
    });
  })();
</script>
